body{
    color: rgb(38, 179, 38);
    background-color: rgb(29, 29, 29);
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 20px;
}

a{
    --acl: rgb(38, 179, 38);
    --aclh: rgb(25, 104, 25);
    text-decoration: none;
}
a:link {color: var(--acl);}
a:visited {color: var(--acl);}
a:hover {color: var(--aclh);}
a:active {color: var(--acl);}