body {
    font-family: 'Lato', sans-serif;
    color: rgb( 200, 200, 200);
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 300;
}

a:link {
    color: rgb( 200, 200, 200);
    text-decoration: none;
}
  
a:visited {
    color: rgb( 200, 200, 200);
    text-decoration: none;
}
  
a:hover {
    color: rgb( 200, 200, 200);
    text-decoration: none;
}
  
a:active {
    color: rgb( 200, 200, 200);
    text-decoration: none;
}